@media screen and (max-width: 340px) {
  .LOGO {
    width: 80%;
  }
}
@media screen and (max-width: 340px) {
  .contenedor {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 10fr));
  }
}
@media (max-width: 340px) {
  .parrafos {
    display: flex;
    flex-direction: column;
    margin: 1 auto;
    font-size: large;
  }
}
@media (max-width: 340px) {
  .contenedor figure {
    height: 16rem;
    width: 16rem;
  }
}
@media (max-width: 340px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 340px) {
  .redondo_zoom .zoom img {
    height: 20rem;
  }
}
@media (max-width: 340px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 950px) {
  .container {
    width: auto;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 700px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
}
@media (max-width: 340px) {
  .container {
    margin: 20px 0;
    height: 100%;
  }
}
@media screen and (max-width: 340px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px 0px;
  }
}
@media screen and (max-width: 340px) {
  .parrafos h2 {
    font-size: larger;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

/*linea del principio*/
hr {
  color: black;
  width: auto;
}

/*Esto es parte del logo*/
.logo {
  height: 200px;
  width: 200px;
  margin: auto;
}

.container {
  width: auto;
  margin: auto;
}

/*Menu de navegacion*/
.nave {
  max-width: auto;
  margin: auto;
  background: #6a6a6a;
  font-size: 180%;
}
.nave ul {
  list-style: none;
}

.menu > li {
  width: 10rem;
  display: inline-block;
}
.menu > li > a {
  display: flex;
  padding: 2rem 2rem;
  color: #272635;
  text-decoration: none;
}
.menu > li > a a:hover {
  color: white;
  transition: all 0.3s;
}

/*Submenu*/
.submenu {
  position: absolute;
  background: #6a6a6a;
  display: none;
  z-index: 1;
}
.submenu li a {
  display: flex;
  padding: 15px;
  color: #272635;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.menu li:hover .submenu {
  display: block;
}

header {
  background: white;
  height: auto;
  width: auto;
  text-align: center;
  line-height: auto;
  color: #383B53;
}

/*Primer Subtitulo de las fotos*/
img .fondo1 {
  max-width: AUTO;
  width: 50rem;
}

.sub1 h2 {
  margin-top: 5rem;
  display: grid;
  text-align: center;
  color: #383B53;
  font-size: xxx-large;
}

.sub1 img {
  width: 192rem;
  height: 100%;
  display: block;
  margin: auto;
}

.article {
  text-align: left;
}

.container {
  width: 100%;
  display: flex;
  max-width: 80rem;
}

.iconos .img {
  width: 15px;
}

/*aca estan todo lo que es texto */
.parrafos {
  margin: 1rem;
}

.parrafos h2 {
  display: grid;
  color: #383B53;
  font-size: xxx-large;
}

.parrafos p {
  display: grid;
  color: #000000;
  font-size: large;
}

.parrafos h2 {
  color: #272635;
  margin: 1rem;
}

.parrafos h3 {
  color: #272635;
}

/*ACA ESTAN LAS CRATAS de HTM*/
img {
  max-width: 100%;
}

.contenedor {
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 5fr));
  gap: 5rem;
}

.contenedor figure {
  position: relative;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 1rem;
}

.contenedor figure img {
  width: 30rem;
  height: auto;
  transition: all 200ms ease-out;
}

.contenedor figure .capa {
  position: absolute;
  top: 0rem;
  width: 2rem;
  height: auto;
  background: #6a6a6a;
  visibility: hidden;
}

.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover > img {
  transform: scale(1.5);
}

.contenedor figure:hover > .capa h3 {
  margin-top: 10px;
  margin-bottom: auto;
}

.contenedor figure .capa h3 {
  color: #383B53;
  font-weight: auto;
  margin-bottom: auto;
  transition: all 200ms ease-out;
  margin-top: 300px;
}

.contenedor figure .capa {
  color: #383B53;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 25em;
  margin: auto;
}

.contenedor .capa h3 {
  font-weight: 200;
  margin-bottom: 10rem;
}

.contenedor .capa a {
  text-decoration: none;
  padding: 1rem;
  margin-top: 1rem;
  color: #272635;
  position: absolute;
  border-radius: 40px;
  border: 1px solid #383B53;
}

/*Aca esta el segundo subtitulo*/
.sub1 {
  color: #383B53;
  text-align: center;
  font-size: xx-large;
}

.container {
  background: #6a6a6a;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
  box-shadow: #272635;
}

.titulo {
  color: #272635;
  font-size: 200%;
  margin: 2rem;
}

.tex {
  font-size: 89%;
}

.container .content {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 200%;
}

.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  transform: translateY(-50%);
}

.container .content .right-side {
  width: 150%;
  margin-left: 2rem;
  color: #272635;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  margin: 0rem;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.botton a {
  color: aqua;
}

.right-side .message-box {
  min-height: 10px;
}

.right-side .input-box textarea {
  padding-top: 6spx;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type=SUBMIT] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type=button]:hover {
  background: #5029bc;
}

.container .content {
  flex-direction: column-reverse;
}

.container .content .left-side {
  width: 100%;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.container .content .left-side::before {
  display: none;
}

.container .content .right-side {
  width: 100%;
  margin-left: 0;
  margin: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

.contenedor-redondo {
  max-width: 1200PX;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.contenedor-redondo .title {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.contenedor-redondo .redondos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.contenedor-redondo .redondos .producto {
  text-align: center;
  padding: 3rem 2rem;
  background: #272635;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.contenedor-redondo .redondos .producto:hover {
  outline: 0.2rem solid #222;
  outline-offset: 0;
}

.contenedor-redondo .redondos .producto img {
  height: auto;
}

.contenedor-redondo .redondos .producto:hover img {
  transform: scale(0.9);
}

.contenedor-redondo .redondos .producto h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #444;
}

.contenedor-redondo .redondos .producto h4 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #444;
}

.contenedor-redondo .redondos .producto:hover h3 {
  color: #6a6a6a;
}

.contenedor-redondo .redondos .producto:hover h4 {
  color: #6a6a6a;
}

.contenedor-redondo .redondos .producto .precio {
  font-size: 2rem;
  color: #444;
}

.redondo-zoom {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.redondo-zoom .zoom {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 40rem;
}

.redondo-zoom .zoom.active {
  display: inline-block;
}

.redondo-zoom .zoom img {
  height: auto;
}

.redondo-zoom .zoom .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.redondo-zoom .zoom .fa-times:hover {
  transform: rotate(90deg);
}

.redondo-zoom .zoom h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 2.5rem;
}

.redondo-zoom .zoom .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.redondo-zoom .zoom .stars i {
  color: #383B53;
}

.redondo-zoom .zoom .stars span {
  color: #999;
}

.redondo-zoom .zoom p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.redondo-zoom .zoom .precio {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #272635;
}

.redondo-zoom .zoom .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.redondo-zoom .zoom .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: 0.1rem solid #444;
}

.redondo-zoom .zoom .buttons a.cart {
  background: #444;
  color: #fff;
}

.redondo-zoom .zoom .buttons a.cart:hover {
  background: #111;
}

.redondo-zoom .zoom .buttons a.buy:hover {
  background: #444;
  color: #fff;
}

/*PIE DE PAGINA*/
.pie-pagina {
  width: 100%;
  background-color: #272635;
  margin-top: 0rem;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #6a6a6a;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #777;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #6a6a6a;
  margin-right: 10px;
  background-color: #383B53;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-socia a :hover {
  color: white;
}

.pie-pagina .grupo-2 {
  background-color: #383B53;
  padding: 15px 10px;
  text-align: center;
  color: #6a6a6a;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
