.container {
  background: $bg-gris;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
  box-shadow: $bg-color-violeta-oscuro
}

.titulo {
  color: $bg-color-violeta-oscuro;
  font-size: 200%;
  margin: 2rem;
}

.tex {
  font-size: 89%;
}

.container .content {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 200%;

}

.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {

  transform: translateY(-50%);

}



.container .content .right-side {
  width: 150%;
  margin-left: 2rem;
  color: $bg-color-violeta-oscuro;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  margin: 0rem;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;

  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.botton a {
  color: aqua;
}

.right-side .message-box {
  min-height: 10px;
}

.right-side .input-box textarea {
  padding-top: 6spx;
}


.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="SUBMIT"] {

  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #5029bc;
}

.container .content {
  flex-direction: column-reverse;
}

.container .content .left-side {
  width: 100%;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;

}

.container .content .left-side::before {
  display: none;
}

.container .content .right-side {
  width: 100%;
  margin-left: 0;
  margin: 3rem;
  ;
}