/*PIE DE PAGINA*/


.pie-pagina {
  width: 100%;
  background-color: $bg-color-violeta-oscuro;
  margin-top: 0rem;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 250px;
  }
}

.pie-pagina .grupo-1 .box h2 {
  color: $bg-gris;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: $gb-gris-777;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: $bg-gris;
  margin-right: 10px;
  background-color: $bg-color-violeta;
  text-align: center;
  transition: all 300ms ease;
}


.pie-pagina .grupo-1 .red-socia a :hover {
  color: $bg-header;

}


.pie-pagina .grupo-2 {
  background-color: $bg-color-violeta;
  padding: 15px 10px;
  text-align: center;
  color: #6a6a6a;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}