@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  }
  
  body {
    min-height: 100vh;
    width: 100%;
  
  }
  
  /*linea del principio*/
  hr {
    color: black;
  }
  
  /*Esto es parte del logo*/
  .logo {
    height: 200px;
    width: 200px;
    margin: auto;
  }
  .container{
    width: auto ;
    margin: auto ;
     

}