//variables colores//
$bg-header:white;
///h2 //
$bg-color-violeta:#383B53;
//h3//
$bg-color-violeta-oscuro:#272635;
//difuminacion de las cars de inicio//
$bg-gris:#6a6a6a;

//gris del footer//
$gb-gris-777:#777;

//COLOR DE ETIQUETA P
$BG-COLOR-P: #000000
